body{
    padding-top: 70px;
}

.jumbotron{
	font-family: Permanent Marker;
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-fixed-top{
	background: #2c3e50;
}

.navbar-brand{
	font-family: Permanent Marker;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-brand{
	color: white;
}
